.home-page {
  display: grid;
  grid-template-columns: 240px 1fr;
  min-height: 100vh;
  width: 100%;
}

.sidebar-section {
  width: 240px;
  background: #f8f9fa;
  border-right: 1px solid #e5e7eb;
}

.content-section {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
}


